
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            width: 100%;
            height: 100%;
        }
        
        #main {
            width: 30%;
            height: 50%;
            background-color:yellow;
        }

        #pixels {
            width: 100px;
            height: 100px;
            background-color: aqua;
        }

        #margin {
            margin: 20px 30px 21px 12px;
            width: 100px;
            height: 100px;
            background-color: red;
        }

        #padding {
            width: 100px;
            height: 100px;
            padding: 10px;
            background-color:tomato;
        }

        #backgroundImage {
            width: 100%;
            height: 100%;
            background-image: url(https://images.unsplash.com/photo-1698491973400-65c0cc1fb0ce?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8);
            background-size: cover;
            background-position: center;
        }

        #car1 {
            width: 100px;
            height: 120px;
            background-color:darkgreen;
        }

        #car2 {
            position: absolute;
            top: 20%;
            left: 40%;
            width: 110px;
            height: 90px;
            background-color:gold;
        }

        #car3 {
            width: 130px;
            height: 110px;
            background-color:crimson;
        }

        #box {
            position: relative;
            width: 200px;
            height: 200px;
            background-color: teal;
        }

        #chotaBox {
            position: absolute;
            left: 40%;
            width: 100px;
            height: 100px;
            background-color:darkgray;
        }

        #flexbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            height: 500px;
            background-color: grey;
        }

        #box1 {
            width: 100px;
            height: 100px;
            background-color: red;
        }

        #box2 {
            width: 130px;
            height: 110px;
            background-color: blue;
        }

        #box3 {
            width: 100px;
            height: 100px;
            background-color: yellow;
        }